<h3> View Vegetable Details</h3>
<div>
    <div>
        <label> <b> Vegetable Id: </b></label> {{vegetable.vegId}}
    </div>
    <div>
        <label> <b> Vegetable Name: </b></label> {{vegetable.vegName}}
    </div>

    <div>
        <label> <b> Vegetable Cost:</b></label> {{vegetable.vegCost}}
    </div>

    <div>

        <label> <b> Quantity: </b></label> {{vegetable.quantity}}
    </div>
    <div>
        <label> <b> Discount: </b></label> {{vegetable.discount}}
    </div>
    <div>
        <label> <b> Discount Type: </b></label> {{vegetable.discountType}}
    </div>
</div>
