<div class="col-md-6 offset-md-3">
    <!--<h3> Create Vegetable </h3>-->
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label style="  font-family: Arial, Helvetica, sans-serif; font-size: 25px;">  Id</label>
            <input type="number" class ="form-control" id = "VegetableId"
                [(ngModel)] = "vegetable.vegId" name = "vegetableId">
        </div>
    
        <div class="form-group">
            <label style="  font-family: Arial, Helvetica, sans-serif; font-size: 25px;">  Name</label>
            <input type="text" class ="form-control" id = "VegetableName"
                [(ngModel)] = "vegetable.vegName" name = "vegetableName">
        </div>
        <div class="form-group">
            <label style="  font-family: Arial, Helvetica, sans-serif; font-size: 25px;">  Cost</label>
            <input type="text" class ="form-control" id = "VegetableCost"
                [(ngModel)] = "vegetable.vegCost" name = "vegetableCost">
        </div>
    
        <div class="form-group">
            <label style="  font-family: Arial, Helvetica, sans-serif; font-size: 25px;"> Quantity</label>
            <input type="number" class ="form-control" id = "Quantity"
                [(ngModel)] = "vegetable.quantity" name = "quantity">
        </div>

        <div class="form-group">
            <label style="  font-family: Arial, Helvetica, sans-serif; font-size: 25px;"> Discount Type</label>
            <input type="text" class ="form-control" id = "DiscountType"
                [(ngModel)] = "vegetable.discountType" name = "discountType">
        </div>

        <div class="form-group">
            <label style="  font-family: Arial, Helvetica, sans-serif; font-size: 25px;"> Discount </label>
            <input type="text" class ="form-control" id = "Discount"
                [(ngModel)] = "vegetable.discount" name = "discount">
        </div><br>
       
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div>
